ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  max-height: 700px;
}
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.card {
  overflow: hidden;
  filter: drop-shadow(0 0 0.5rem rgb(101, 90, 92));
  margin: 20px;
}
