.buttons {
  margin-left: 100px;
  margin-bottom: 100px;
}

#editButton {
  margin-left: 20px;

}
.showCardFull {
  width: 500px;
  height: 1000;
}
.showCard {
  /* background-color: red; */
  width: 500px;
  height: 900px;
  
}