* {
  margin: 5px, white, solid;
  
}


.header1 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.subHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.carousel {
  width: 500px;
  height: 700px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.5rem rgb(101, 90, 92));
  overflow: hidden;
}

.carousel-item img {
  height: 600px;
}

/* .carousel-caption.d-none.d-md-block {
  background-color: rgba(0, 0, 0, 0.213);
  height: 100px;

} */